:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  scroll-behavior: smooth;
  cursor: help;
}


body {
  background-color: #918E8B;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin: 0;
  overflow-x: hidden;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #ffffff;
}

.x {
  display: flex;
}

.logos {
  position: absolute;
  max-width: 400;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) ;
}

.futs {
  
  line-height: 1.2;
  position: absolute;
  bottom: 60px;
  left: 40px;
}

.futs a:hover {
  text-decoration: underline;
}


@custom-media --small-viewport (min-width: 481px);
@custom-media --medium-viewport (min-width: 764px);
@custom-media --large-viewport (min-width: 1024px);